@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
}

span {
  font-size: 4rem;
  color: #15B937;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  color: black;
  font-size: 1rem;
  background-color: #15B937;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
  width: 100%;
  height: 100%;
  position: relative;
  /* .circle{
        position: absolute;
        bottom: 0;
        content: "";
        background-color: #15B937;
        width: 100%;
        height:100%;
       clip-path: circle(50% at left 100%);
    }
    .circle2{
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        background-color: #15B937;
        width: 100%;
        height:100%;
        clip-path: circle(30% at right 100%);
        
    }
    */
}

section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

section .header .Logo {
  cursor: pointer;
}

section .header .Logo:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

section .header .Menu {
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  gap: 50px;
  width: 100%;
  height: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .header .toggel {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  background-color: #15B937;
}

section .Text-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  z-index: 10;
}

section .Text-Content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .Text-Content .Image-Menu img {
  width: 100%;
}

section .Thumbs {
  z-index: 1;
}

@media (min-width: 768px) {
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: start;
    width: 100%;
    height: 100%;
    position: relative;
  }
  section .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  section .header .Menu {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: black;
    gap: 50px;
    width: 100%;
    height: 100px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  section .header .toggel {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    background-color: #15B937;
  }
  section .Text-Content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
  }
  section .Text-Content .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .Text-Content .Image-Menu img {
    width: 100%;
  }
  section .circle {
    position: absolute;
    bottom: 0;
    content: "";
    background-color: #15B937;
    width: 100%;
    height: 100%;
    -webkit-clip-path: circle(50% at left 100%);
            clip-path: circle(50% at left 100%);
  }
  section .circle2 {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background-color: #15B937;
    width: 100%;
    height: 100%;
    -webkit-clip-path: circle(30% at right 100%);
            clip-path: circle(30% at right 100%);
  }
  section .Thumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 200px;
  }
  section .Thumbs img {
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */